[Desktop Entry]
Encoding=UTF-8
Name=eclipse
Comment=Eclipse IDE
Exec=/home/wang/adt-bundle-linux-x86_64-20140321/eclipse/eclipse
Icon=/home/wang/adt-bundle-linux-x86_64-20140321/eclipse/icon.xpm
Terminal=false
starttupNotify=true
Type=Application
Categories=Application;Development;
